# Auto detect text files and perform LF normalization
* text=auto

# Sample branch files to ignore
sample/** -diff
sample-* -diff
**/sample/** -diff 

# Lock specific paths
library/** -diff
extLibs/** -diff
app/build.gradle -diff 